<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <div class="container">
    {# Header #}
    <header class="main-header">
      <h1 class="logo"><a><img src="http://placehold.it/50x33" alt="logo">Title</a></h1>
      {# Navigation #}
      <nav class="main-nav clearfix">
        <a class="btn main-nav-btn">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M2 6h20v3H2zm0 5h20v3H2zm0 5h20v3H2z"/>
          </svg>
        </a>
        <ul class="main-nav-list">
          <li><a class="main-nav-link main-nav-link-active" href="#">Home</a></li>
          <li><a class="main-nav-link" href="#">Learn</a></li>
          <li><a class="main-nav-link" href="#">Brainstorm</a></li>
          <li><a class="main-nav-link" href="#">Create</a></li>
          <li><a class="main-nav-link" href="#">Collaborate</a></li>
          <li><a class="main-nav-link" href="#">Teach</a></li>
        </ul>
      </nav>
    </header>

    {# Main content #}
    <main class="clearfix">
      {% block content %} {% endblock %}
    </main>

    {# Footer #}
    <footer class="main-footer">
      <p>Copyright &copy; 2017</p>
    </footer>
  </div>
</body>
</html>
