<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <div class="container">
    {# Header #}
    {% include 'templates/partials/header.njk' %}

    {# Main content #}
    <main class="clearfix">
      {% include 'templates/partials/breadcrumbs.njk' %}
      <div class="history-wrapper">
        <b>History:</b>
        <div id="history"></div>
        <button id="bookmark"></button>
      </div>

      {% block content %} {% endblock %}
    </main>

    {# Footer #}
    <footer class="main-footer">
      <p>Copyright &copy; 2017</p>
    </footer>
  </div>
<script src="../js/cookies.js"></script>
</body>
</html>
