<ul class="breadcrumbs">
  {% for page in breadcrumbs | reverse %}
    <li><a
      {% if not loop.last %}
        href={{page}}
      {% else %}
        class="active"
      {% endif %}
      >{{page}}
    </a></li>
  {% endfor %}
</ul>
