{% macro addPostHeader(title, author, date) %}
  <header class="post-header">
    <h2>{{title}}</h2>
    <span class="post-author">{{author}}</span>
    <time class="post-date">{{date}}</time>
  </header>
{% endmacro %}

{# {% macro addPostText(text) %}
  {{text}}
</div>
{% endmacro %}

{% macro addPost(text, title, author, date) %}
  <article class="post clearfix">
    {{addPostHeader(title, author, date)}}
    {{addPostText(text)}}
  </article>
{% endmacro %} #}
