{% extends "templates/layout.njk" %}

{% block content %}
  <div class="index-content">
    <article class="post clearfix">
      <header class="post-header">
        <h2>First post</h2>
        <span class="post-author">First post author</span>
        <time class="post-date" datetime="2016-12-09">December 09, 2016</time>
      </header>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non velit orci.
        Cras posuere, nulla et mattis facilisis, enim libero consectetur nisl, at sagittis augue metus ut nisl.
        Etiam sed risus nunc. Ut eget consequat eros. Donec pharetra rhoncus diam, a mattis tortor.
        Nunc a ipsum venenatis, ultrices enim vitae, fringilla lectus. Integer sed sollicitudin nisi.
        Aenean eu massa dignissim, aliquam enim quis, sodales felis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <p>
        Nunc finibus risus non augue luctus, et molestie nibh tempor.
        Cras pulvinar ligula sit amet finibus scelerisque. Proin fermentum consequat turpis sodales cursus.
        Aliquam suscipit ex vel dolor maximus lobortis.
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Donec hendrerit porta diam, placerat bibendum nibh fringilla consequat.
        Vestibulum pellentesque lectus eget felis lobortis mollis.
        Etiam urna ex, consectetur vel feugiat a, vehicula sit amet dolor. Aliquam consectetur tristique neque.
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      </p>
       <a class="btn post-full-btn" href="#">Read more</a>
    </article>
    <article class="post clearfix">
      <header class="post-header">
        <h2>Second post</h2>
        <span class="post-author">Second post author</span>
        <time class="post-date" datetime="2016-12-09">December 09, 2016</time>
      </header>
      <p>
        Duis risus ligula, consequat feugiat condimentum in, sollicitudin nec augue.
        Etiam vehicula commodo rhoncus. Integer mattis nisi at purus hendrerit volutpat.
        Cras nisl nisl, accumsan sit amet aliquam et, sagittis sed lorem.
        Cras dignissim luctus neque, ac convallis urna consectetur sed. Nam vehicula mauris neque.
        In maximus lobortis elementum. Nullam vel nibh lacus.
      </p>
      <p>
        Nunc posuere erat sed iaculis eleifend. Sed egestas tortor eget est volutpat auctor.
        Vivamus hendrerit ipsum in dui malesuada, quis suscipit risus venenatis.
        Curabitur maximus, magna non mollis dignissim, diam lectus sagittis mauris,
        in tincidunt massa diam in tortor. Vivamus ullamcorper bibendum lectus, a porta felis semper vel.
        Sed massa tellus, iaculis eu laoreet et, iaculis quis sapien. Aliquam erat volutpat.
        Aenean rhoncus urna leo, sit amet viverra velit aliquet nec.
        Mauris suscipit mauris sit amet arcu accumsan scelerisque.
      </p>
       <a class="btn post-full-btn" href="#">Read more</a>
    </article>
  </div>
  <aside class="index-sidebar">
    <section class="sidebar-block">
      <h2>Top section</h2>
      <p>
        Integer neque dui, fermentum bibendum arcu eu, feugiat aliquam libero.
        Proin mollis purus elementum, facilisis enim sit amet, ullamcorper dui.
        Fusce non purus et tellus maximus iaculis. Donec ac augue vehicula, interdum ante sed, rhoncus felis.
        Morbi erat nulla, euismod id congue at, sollicitudin auctor ipsum.
      </p>
    </section>
    <section class="sidebar-block">
      <h2>Middle section</h2>
      <p>
        Integer neque dui, fermentum bibendum arcu eu, feugiat aliquam libero.
        Proin mollis purus elementum, facilisis enim sit amet, ullamcorper dui.
        Fusce non purus et tellus maximus iaculis. Donec ac augue vehicula, interdum ante sed, rhoncus felis.
        Morbi erat nulla, euismod id congue at, sollicitudin auctor ipsum.
      </p>
    </section>
    <section class="sidebar-block">
      <h2>Bottom section</h2>
      <p>
        Integer neque dui, fermentum bibendum arcu eu, feugiat aliquam libero.
        Proin mollis purus elementum, facilisis enim sit amet, ullamcorper dui.
        Fusce non purus et tellus maximus iaculis. Donec ac augue vehicula, interdum ante sed, rhoncus felis.
        Morbi erat nulla, euismod id congue at, sollicitudin auctor ipsum.
      </p>
    </section>
  </aside>
{% endblock %}
